

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    
    <button class="btn btn-outline-primary" style="margin:10px; max-width: 50%;" routerLink="/list" type="button">
		SpanishMash
	</button>

	<button class="navbar-toggler navbar-toggler-right" style="margin-top: 10px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

		

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

	<form class="form-inline my-2 my-lg-0">
	
		<button class="btn btn-sm btn-outline-primary" 
		        style="margin:10px;" 
		        routerLink="/list" routerLinkActive="active"
		        type="button">List Definitions</button>
		
		<button class="btn btn-sm btn-outline-primary" 
		        style="margin:10px;" 
		        routerLink="/new-definition" routerLinkActive="active"
		        type="button">Add Definitions</button>

		<button class="btn btn-sm btn-outline-primary" 
		        style="margin:10px;" 
		        routerLink="/practice" routerLinkActive="active"
		        type="button">Practice</button>
	</form>

	

    
  </div>
</nav>

